# compiled output
/dist
/node_modules

# Package manager
package-lock.json

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/*

# Environment
.env
.env.*
!.env.example

# Database
*.sqlite
*.sqlite3

# Cache
.cache/
redis/

# Temporary files
*.swp
*.swo
*~

# Build files
build/
tmp/
temp/ 